@model System.Collections.Generic.Dictionary<int,WebApp.Models.ContactModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Kontakty</h2>

<a class= "btn btn-primary" asp-action="Add" asp-controller="Contact">Dodaj kontakt</a>
<h4>Lista kontaktów</h4>
<table class="table">
    <thead>
    <tr>
        <th>
            Imie
        </th>
        <th>
            Nazwisko
        </th>
        <th>
            Akcje
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var entry in @Model)
    {
        <tr>
            <td>
                @entry.Value.FirstName
            </td>
            <td>
                @entry.Value.LastName
            </td>
            <tf>
                <a class="btn btn-success" asp-controller="Contact"  asp-action="" asp-route-id="@entry.Key">Edycja</a>
                <a class="btn btn-success" asp-controller="Contact"  asp-action="" asp-route-id="@entry.Key">Szczegoly</a>
                <a class="btn btn-success" asp-controller="Contact"  asp-action="Delete" asp-route-id="@entry.Key">Usun</a>
            </tf>
        </tr>    
    }
    </tbody>
</table>